language: go
sudo: required

go:
  - "1.10.x"

services:
  - docker

script:
  cd server/cmd/inventory-tracker-server
  go get -v
  cd ../../..
  make dockerize

after_success:
  - docker login -e="$DOCKER_EMAIL" -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"
  - test $TRAVIS_BRANCH == "master" && docker push divanvisagie/go-inventory-tracker:latest