language: go
sudo: required

go:
  - "1.10.x"

services:
  - docker

script:
  - cd server/cmd/inventory-tracker-server
  - go get -v
  - cd ../../..
  - docker build -t divanvisagie/go-inventory-tracker:latest .
  - docker build -t divanvisagie/inventory-tracker-migrations:latest -f migrations.Dockerfile .
  

after_success:
  - docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"
  - test $TRAVIS_BRANCH == "master" && docker push divanvisagie/go-inventory-tracker:latest
  - test $TRAVIS_BRANCH == "master" && docker push divanvisagie/inventory-tracker-migrations:latest

  