version: '3'

services:

  postgresdb:
    image: postgres:9.3
    ports:
      - "54321:5432"
    environment:
      - POSTGRES_PASSWORD=secret

  flyway-migrator:
    image: gsengun/flyway-postgres:1.1
    volumes:
      - ./sql:/flyway/sql
    depends_on:
      - postgresdb
    command: postgresdb 5432 postgres secret postgres

  inventory-tracker:
    build: 
      context: .
      dockerfile: server/Dockerfile
    volumes:
      - ./server:/go/src/github.com/divanvisagie/go-inventory-tracker/server

  docs:
    build:
      context: ./server
      dockerfile: redoc.Dockerfile
    ports:
      - "8081:80"
    

  load-balancer:
    image: dockercloud/haproxy
    links:
     - inventory-tracker
    ports:
     - "8080:80"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  
  locust:
    build:
      context: ./load-testing
    volumes:
      - ./load-testing:/locust
    ports:
      - "8089:8089"

    environment:
      - ATTACKED_HOST=http://load-balancer